import('sprites/*')
import('helpers/svg-size')
@import 'helpers/variables'
@import 'helpers/mixins'
@import 'helpers/fonts'
@import 'helpers/optimize'

import('../blocks/**/*')
body
 background-color $black
.hidden
	visibility hidden
	position absolute
.container
	max-width $xl
	margin 0 auto
.title
	font-size 2.6rem
	font-weight 900
	line-height 3rem
.events
	position absolute
	top 5px
	right 20px
	display inline-block
	width 15px
	height 15px
	border-radius 50%
	box-shadow 0 4px 6px rgba(0, 0, 0, .25)
	background linear-gradient(0deg, #2459E2, #2459E2), #2E61E5
	color $grey
	font-size .8rem
	font-weight 600
	line-height 15px
	text-align center
	&_text
		right 14px
		top 8px
	&_map
		right -4px
		top -2px
button
	background-color transparent
	border none
	outline none
.book-button
	display block
	flex 0 0 128px
	background linear-gradient(26.66deg, #FF971C 20.96%, #FF6600 104.08%)
	transition .4s
	&:hover
	&:active
		background linear-gradient(26.66deg, #FF6600 20.96%, #FF971C 104.08%)
	.icon
		width 15px
		height 17px
.slick-dots
	position absolute
	width 100%
	padding 0
	margin 0
	list-style none
	text-align center
	bottom -30px
	li
		position relative
		display inline-block
		width 6px
		height 20px
		margin 0 5px
		padding 0
		cursor pointer
	button
		font-size 0
		line-height 0
		display block
		width 6px
		height 20px
		padding 3px
		cursor pointer
		color transparent
		border 0
		outline none
		background transparent
		&:before
			line-height: 20px;
			position: absolute;
			top: calc(50% - 3px);
			left: calc(50% - 3px);
			width: 6px;
			height: 6px;
			border-radius: 50%
			content: '';
			text-align: center;
			background-color #333
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
	.slick-active
		button
			&:before
				background-color $orange
.slick-current + .slick-slide .slider__image-container
		position absolute
		left -16px
+above($lg)
	::-webkit-scrollbar
			width 3px
	::-webkit-scrollbar-track
		background $brown
		border-radius 20px
	::-webkit-scrollbar-thumb
		background $orange
		border-radius 10px
