webfont('sf', 'SFUIDisplay-Regular', true, 400)
webfont('sf', 'SFUIDisplay-Semibold', true, 600)
webfont('sf', 'SFUIDisplay-Heavy', true, 900)
webfont('un', 'UniNeueHeavy', true, 900)
webfont('cp', 'CeraCompactPro-Bold', true, 700)
